<script>
	import './styles.css';
    import {activePage} from '$lib/common_variable';
    import Footer from "$lib/components/Footer.svelte";
    import {onMount} from "svelte";
    let nav,openSidebar,closeSidebar;

    onMount(()=>{
        if(nav)
            nav.style.transform = "translateX(-260px)";
    })
    function sidebarHandler(flag){
        if(nav && openSidebar && closeSidebar){
            if (flag) {
                nav.style.transform = "translateX(0px)";
                openSidebar.classList.add("hidden");
                closeSidebar.classList.remove("hidden");
            } else {
                nav.style.transform = "translateX(-260px)";
                closeSidebar.classList.add("hidden");
                openSidebar.classList.remove("hidden");
            }
        }
    }
</script>
<div class="relative">
    <div class="absolute px-20 top-0 left-0 w-full flex items-center justify-center lg:justify-between py-4 z-10">
        <div class="relative pr-36 pb-4">
            {#if $activePage!=='contact'}
                <div>
                    <svg width="200" height="193" viewBox="0 0 273 266" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 262.68L249.89 120.88C236.546 107.942 218.691 100.707 200.105 100.707C181.519 100.707 163.664 107.942 150.32 120.88L4 262.68Z" fill="#1F2D5D"/>
                        <path d="M4 262.68L249.89 120.88C236.546 107.942 218.691 100.707 200.105 100.707C181.519 100.707 163.664 107.942 150.32 120.88L4 262.68Z" stroke="white" stroke-miterlimit="10"/>
                        <path d="M5.11914 257.7C5.11914 257.7 54.1191 195.93 53.6491 167.57C53.6491 167.57 85.2591 185.62 5.11914 257.7Z" fill="#1F2D5D"/>
                        <path d="M5.11914 257.7C5.11914 257.7 54.1191 195.93 53.6491 167.57C53.6491 167.57 85.2691 185.62 5.11914 257.7Z" stroke="white" stroke-miterlimit="10"/>
                        <path d="M272.05 118.8C271.05 158.62 230.5 182.23 196.14 192.04C147.27 205.43 85.0302 200.56 49.1902 159.81C39.6902 148.59 33.5202 133.81 33.5202 118.81C33.4102 96.38 46.9702 76.06 64.5202 63.38C102.59 36.15 152.8 33.65 196.16 45.53C230.52 55.34 271.03 79 272.06 118.81M272.06 118.81C272.06 106.33 266.9 94.3 258.88 84.88C234.41 56.7 194.21 48.45 158.46 50.53C134.96 52.12 111.35 58.39 91.2202 70.18C73.2202 80.94 56.4902 97.18 56.2202 118.81C56.2202 139.91 73.2902 156.97 91.2202 167.49C111.35 179.3 134.98 185.57 158.49 187.14C194.25 189.21 234.49 180.93 258.92 152.74C266.92 143.32 272.04 131.29 272.09 118.81" fill="#606161"/>
                        <path d="M272.05 118.8C271.05 158.62 230.5 182.23 196.14 192.04C147.27 205.43 85.0302 200.56 49.1902 159.81C39.6902 148.59 33.5202 133.81 33.5202 118.81C33.4102 96.38 46.9702 76.06 64.5202 63.38C102.59 36.15 152.8 33.65 196.16 45.53C230.51 55.33 271.02 78.99 272.05 118.8ZM272.05 118.8C272.05 106.32 266.89 94.29 258.87 84.87C234.4 56.69 194.2 48.44 158.45 50.52C134.95 52.11 111.34 58.38 91.2102 70.17C73.2102 80.93 56.4802 97.17 56.2102 118.8C56.2102 139.9 73.2802 156.96 91.2102 167.48C111.34 179.29 134.97 185.56 158.48 187.13C194.24 189.2 234.48 180.92 258.91 152.73C266.89 143.31 272 131.28 272.05 118.8Z" stroke="white" stroke-miterlimit="10"/>
                        <path d="M264.179 3L87.7793 104.73C97.3521 114.011 110.161 119.2 123.494 119.2C136.827 119.2 149.637 114.011 159.209 104.73L264.179 3Z" fill="#1F2D5D"/>
                        <path d="M264.179 3L87.7793 104.73C97.3521 114.011 110.161 119.2 123.494 119.2C136.827 119.2 149.637 114.011 159.209 104.73L264.179 3Z" stroke="white" stroke-miterlimit="10"/>
                        <path d="M265.769 4.75C265.769 4.75 232.979 42.52 232.469 60.5C232.469 60.5 212.949 48.17 265.769 4.75Z" fill="#1F2D5D"/>
                        <path d="M265.769 4.75C265.769 4.75 232.979 42.52 232.469 60.5C232.469 60.5 212.949 48.17 265.769 4.75Z" stroke="white" stroke-miterlimit="10"/>
                    </svg>
                    <div class="absolute right-0 bottom-0">
                        <div class="text-3xl mb-[-5px]" class:text-[#606161]={$activePage!=='about'} class:text-[#1F2D5D]={$activePage==='about'}>SKYLINK AVIATION</div>
                        <div class="text-2xl" class:text-[#606161]={$activePage!=='about'} class:text-[#1F2D5D]={$activePage==='about'}>support services</div>
                    </div>
                </div>
            {:else}
                <div class="hidden lg:block h-[193px] w-10"></div>
            {/if}
        </div>
        <div class="hidden lg:flex gap-4 text-2xl pb-16">
            <a href="./" class:active={$activePage===''} on:click={()=>{$activePage=''}}>HOME</a>
            <a href="./about" class:active={$activePage==='about'} on:click={()=>{$activePage='about'}}>ABOUT</a>
            <a href="./services" class:active={$activePage==='services'} on:click={()=>{$activePage='services'}}>OUR SERVICES</a>
            <a href="./contact" class:active={$activePage==='contact'} on:click={()=>{$activePage='contact'}}>CONTACT US</a>
        </div>
    </div>
    <div class="flex flex-no-wrap fixed top-0 bottom-0 z-50">
        <div class="w-64 z-40 min-h-[100vh] h-fit absolute bg-gray-800 shadow md:h-full flex-col justify-between lg:hidden transition duration-150 ease-in-out"
             id="mobile-nav" bind:this={nav}>
            <button aria-label="toggle sidebar" on:click={()=>sidebarHandler(true)}
                    id="openSideBar" bind:this={openSidebar}
                    class="h-10 w-10 bg-gray-800 absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 rounded focus:ring-gray-800">
                <img width="20" height="20" src="/svg/option.svg" alt="">
            </button>
            <button aria-label="Close sidebar"
                    on:click={()=>sidebarHandler(false)}
                    bind:this={closeSidebar}
                    id="closeSideBar" class="hidden h-10 w-10 bg-gray-800 absolute flex right-0 mt-16 -mr-10 items-center shadow rounded-tr rounded-br justify-center cursor-pointer text-white">
                <img width="20" height="20" src="/svg/close.svg" alt="">
            </button>

            <div class="px-8">
                <div class="w-full flex items-center justify-center py-4">
                    <svg width="104" height="100" viewBox="0 0 104 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 100L94.6896 45.3943C89.5512 40.4122 82.6751 37.6261 75.5179 37.6261C68.3608 37.6261 61.4847 40.4122 56.3463 45.3943L0 100Z" fill="white"/>
                        <path d="M0.429688 98.0822C0.429688 98.0822 19.2991 74.2953 19.1181 63.3741C19.1181 63.3741 31.2907 70.325 0.429688 98.0822Z" fill="white"/>
                        <path d="M103.223 44.5934C102.838 59.9276 87.2223 69.0196 73.9907 72.7973C55.1714 77.9537 31.2034 76.0783 17.4018 60.3859C13.7435 56.0652 11.3674 50.3736 11.3674 44.5972C11.3251 35.9597 16.5469 28.1347 23.3052 23.2517C37.9656 12.7657 57.3009 11.803 73.9984 16.3779C87.2301 20.1556 102.83 29.2668 103.227 44.5972M103.227 44.5972C103.227 39.7913 101.24 35.1587 98.1512 31.5311C88.728 20.6793 73.2475 17.5023 59.4805 18.3033C50.4309 18.9156 41.339 21.3301 33.5871 25.8703C26.6555 30.0139 20.213 36.2677 20.109 44.5972C20.109 52.7226 26.6825 59.2922 33.5871 63.3434C41.339 67.8913 50.4386 70.3058 59.4921 70.9104C73.2629 71.7075 88.7589 68.519 98.1666 57.6633C101.247 54.0358 103.219 49.4031 103.238 44.5972" fill="white"/>
                        <path d="M100.193 0L32.2637 39.1751C35.95 42.749 40.8828 44.7475 46.0171 44.7475C51.1515 44.7475 56.0842 42.749 59.7706 39.1751L100.193 0Z" fill="white"/>
                        <path d="M100.806 0.673889C100.806 0.673889 88.1791 15.2187 87.9827 22.1426C87.9827 22.1426 80.4658 17.3945 100.806 0.673889Z" fill="white"/>
                    </svg>
                </div>
                <ul class="mt-8">
                    <li class="left-item flex w-full justify-between text-gray-300 hover:text-gray-500 cursor-pointer items-center mb-6">
                        <a on:click={()=>sidebarHandler(false)} class="flex items-center focus:outline-none w-full" href="./">
<!--                            <img src="./assets/svg/grid.svg" alt="">-->
                            <span class="text-sm ml-2 text-white/50">HOME</span>
                        </a>
                    </li>
                    <li class="left-item flex w-full justify-between text-gray-300 hover:text-gray-500 cursor-pointer items-center mb-6">
                        <a  on:click={()=>sidebarHandler(false)} class="flex items-center focus:outline-none w-full" href="./about">
<!--                            <img src="./assets/svg/grid.svg" alt="">-->
                            <span class="text-sm ml-2 text-white/50">ABOUT</span>
                        </a>
                    </li>
                    <li class="left-item flex w-full justify-between text-gray-300 hover:text-gray-500 cursor-pointer items-center mb-6">
                        <a on:click={()=>sidebarHandler(false)} class="flex items-center focus:outline-none w-full" href="./services">
<!--                            <img src="./assets/svg/grid.svg" alt="">-->
                            <span class="text-sm ml-2 text-white/50">OUR SERVICES</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="relative pt-[300px]">
        <slot/>
    </div>
</div>
<style>
    .active{
        font-weight: bold;
        border-bottom: 2px solid black;
    }
</style>