<script>
  import Footer from "$lib/components/Footer.svelte";
</script>
<div>
    <div class="pt-8 border-b-[#1D223D] border-b-8">
        <div class="px-8 lg:px-20">
            <div class="text-3xl py-4">At SKYLINK AVIATION SUPPORT SERVICES</div>
            <div class="lg:text-xl py-1">we believe that powered flight has transformed – and will continue to transform – the world. It’s an engine for human progress and an instrument to rise above.</div>
            <div class="lg:text-xl py-1">Realities for That’s why we work with an explorer’s heart and a perfectionist’s grit to share our experiences and knowledge to keep your aircraft airworthy at all the time. We do this as a way of turning possibilities into our customers.</div>
            <div class="lg:text-xl py-1">This is our objective, and a challenge to which we rise every day. It’s about more than transporting people reliably to their destinations. It’s about more than providing the care and intelligence to service aircraft expertly. It’s about innovating and engineering a new and exciting future for aviation – one in which the full potential of human progress can be unleashed.</div>
            <div class="lg:text-xl py-1">This is how we at SKYLINK AVIATION SUPPORT SERVICES approach our work, and this is why we are inspired to go beyond.</div>
        </div>
        <img style="width: 100vw;" src="/images/home_img_02.png" alt="">
    </div>
    <div class="relative">
        <div class="absolute">
            <div class="relative">
                <img src="/images/home_img_01.png" style="width: 100vw;">
                <div class="block lg:hidden absolute bottom-0 left-0 w-full top-0 bg-gradient-to-t from-white"></div>
            </div>
        </div>
        <div class="absolute w-full">
            <div class="lg:pl-20 grid lg:grid-cols-[1fr,auto] border-b-[#1D223D] border-b-8">
                <div>
                    <div class="pl-8 lg:pl-0 lg:text-white text-4xl pt-20 text-center lg:text-left">OUR SERVICES</div>
                </div>
                <div class="bg-gray-500/0 lg:bg-gray-500/50">
                    <div class="grid sm:grid-cols-2 gap-8 w-fit sm:mx-auto px-8 lg:px-20 pb-8 lg:pb-[300px] sm:pt-4 lg:pt-28">
                        <div>
                            <div class="lg:text-white text-2xl lg:text-3xl py-10">Our FBO Services</div>
                            <div class="lg:text-white lg:text-xl lg:py-3">- Aircraft Trip Management</div>
                            <div class="lg:text-white lg:text-xl lg:py-3">- Worldwide Permit Arrangement</div>
                            <div class="lg:text-white lg:text-xl lg:py-3">- Global Fuel Arrangement</div>
                            <div class="lg:text-white lg:text-xl lg:py-3">- Aircraft Ground Handling <br> &nbsp;&nbsp;Support Services</div>
                        </div>
                        <div>
                            <div class="lg:text-white text-2xl lg:text-3xl py-10">Other Aviation Services</div>
                            <div class="lg:text-white lg:text-xl lg:py-3">- Aircraft Acquisitions Support</div>
                            <div class="lg:text-white lg:text-xl lg:py-3">- Aircraft Parts Provisioning</div>
                            <div class="lg:text-white lg:text-xl lg:py-3">- Aircraft MRO Services</div>
                            <div class="lg:text-white lg:text-xl lg:py-3">- Aviation Quality & Safety</div>
                            <div class="lg:text-white lg:text-xl lg:py-3">- Aviation Project Management <br> &nbsp;&nbsp;& Consultation</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full">
                <Footer/>
            </div>
        </div>
    </div>
</div>