@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: "Noto Sans Lao", "Noto Sans", sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}