<script>
    import Footer from "$lib/components/Footer.svelte";
</script>
<div class="relative">
    <div class="absolute">
        <div class="relative">
            <img src="/images/home_img_01.png" style="width: 100vw;">
            <div class="block lg:hidden absolute bottom-0 left-0 w-full top-0 bg-gradient-to-t from-white"></div>
        </div>
    </div>
    <div class="absolute w-full">
        <div class="lg:pl-20 grid lg:grid-cols-[1fr,auto] border-b-[#1D223D] border-b-8">
            <div>
                <div class="pl-8 lg:pl-0 lg:text-white text-4xl pt-20 text-center lg:text-left">OUR SERVICES</div>
            </div>
            <div class="bg-gray-500/0 lg:bg-gray-500/50">
                <div class="grid sm:grid-cols-2 gap-8 w-fit sm:mx-auto px-8 lg:px-20 pb-8 lg:pb-[300px] sm:pt-4 lg:pt-28">
                    <div>
                        <div class="lg:text-white text-2xl lg:text-3xl py-10">Our FBO Services</div>
                        <div class="lg:text-white lg:text-xl lg:py-3">- Aircraft Trip Management</div>
                        <div class="lg:text-white lg:text-xl lg:py-3">- Worldwide Permit Arrangement</div>
                        <div class="lg:text-white lg:text-xl lg:py-3">- Global Fuel Arrangement</div>
                        <div class="lg:text-white lg:text-xl lg:py-3">- Aircraft Ground Handling <br> &nbsp;&nbsp;Support Services</div>
                    </div>
                    <div>
                        <div class="lg:text-white text-2xl lg:text-3xl py-10">Other Aviation Services</div>
                        <div class="lg:text-white lg:text-xl lg:py-3">- Aircraft Acquisitions Support</div>
                        <div class="lg:text-white lg:text-xl lg:py-3">- Aircraft Parts Provisioning</div>
                        <div class="lg:text-white lg:text-xl lg:py-3">- Aircraft MRO Services</div>
                        <div class="lg:text-white lg:text-xl lg:py-3">- Aviation Quality & Safety</div>
                        <div class="lg:text-white lg:text-xl lg:py-3">- Aviation Project Management <br> &nbsp;&nbsp;& Consultation</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-[#4F4F4C] grid xl:grid-cols-2 p-8 xl:p-20">
            <div class="xl:pr-20">
                <div class="text-4xl lg:text-5xl text-white pb-8">Aircraft Trip Management</div>
                <div class="text-white text-xl lg:text-2xl py-2">What is the Trip Management Services or Trip Planning?</div>
                <div class="text-white text-xl lg:text-2xl py-2">TMS is a solution that covers all the logistical and operational aspects of your flights products whether you are managing Scheduled Airliner, Non Schedule or Charter Operator, Business Air Taxi operator or Private Jet owners.</div>
                <div class="text-white text-xl lg:text-2xl py-2">The new TMS Services enable you to interact faster. It even helps simplifying your internal procedures and communications between different departments.</div>
            </div>
            <div>
                <img src="/images/service_img_01.png" style="width: 100%;">
            </div>
        </div>
        <div class="w-full">
            <Footer/>
        </div>
    </div>
</div>