<script>

</script>
<div>
    <div class="bg-white">
        <div class="grid place-content-center py-8">
            <div class="relative pr-24 pb-2">
                <svg width="200" height="194" viewBox="0 0 200 194" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 193.727L183.439 87.9411C173.485 78.2895 160.164 72.892 146.299 72.892C132.433 72.892 119.113 78.2895 109.158 87.9411L0 193.727Z" fill="#1F2D5D"/>
                    <path d="M0.832031 190.012C0.832031 190.012 37.3871 143.93 37.0365 122.773C37.0365 122.773 60.6183 136.239 0.832031 190.012Z" fill="#1F2D5D"/>
                    <path d="M199.971 86.3894C199.225 116.096 168.974 133.71 143.34 141.028C106.882 151.017 60.4496 147.384 33.7122 116.984C26.625 108.613 22.022 97.5872 22.022 86.3969C21.9399 69.6636 32.056 54.5044 45.1487 45.0448C73.5498 24.7306 111.008 22.8656 143.355 31.7283C168.988 39.0468 199.21 56.6977 199.978 86.3969M199.978 86.3969C199.978 77.0865 196.129 68.1119 190.146 61.0843C171.89 40.0614 141.9 33.9067 115.23 35.4585C97.6985 36.6446 80.0849 41.3222 65.0675 50.1178C51.6391 58.145 39.1581 70.2604 38.9567 86.3969C38.9567 102.138 51.6913 114.865 65.0675 122.713C80.0849 131.524 97.7134 136.201 115.252 137.373C141.93 138.917 171.95 132.74 190.176 111.709C196.144 104.682 199.963 95.7072 200.001 86.3969" fill="#606161"/>
                    <path d="M194.098 0L62.5 75.8929C69.6415 82.8164 79.1975 86.6881 89.1442 86.6881C99.0908 86.6881 108.647 82.8164 115.788 75.8929L194.098 0Z" fill="#1F2D5D"/>
                    <path d="M195.285 1.30554C195.285 1.30554 170.823 29.4828 170.443 42.8963C170.443 42.8963 155.88 33.6978 195.285 1.30554Z" fill="#1F2D5D"/>
                </svg>
                <div class="absolute right-0 bottom-0">
                    <div class="text-2xl mb-[-5px]">SKYLINK AVIATION</div>
                    <div class="text-lg">support services</div>
                </div>
            </div>
        </div>
        <div class="text-xl text-center pt-8 lg:pt-20 pb-10 px-8">Your success is our priority. We deliver the industry’s broadest portfolio and have the right expertise to give you the advantages it takes to succeed.</div>
    </div>
    <div class="bg-[#1D223D]">
        <div class="text-center text-white text-5xl pt-20 pb-10">Contact Us</div>
        <div class="grid lg:flex w-fit mx-auto gap-6">
            <div class="text-white flex text-2xl gap-2">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.66168 1.44266C9.21053 0.352868 8.02113 -0.227184 6.88446 0.0833487L1.72844 1.48954C0.708953 1.77077 0 2.69651 0 3.75116C0 18.2466 11.7534 30 26.2488 30C27.3035 30 28.2292 29.291 28.5105 28.2716L29.9166 23.1155C30.2272 21.9789 29.6471 20.7895 28.5573 20.3383L22.9326 17.9947C21.9775 17.5962 20.8702 17.8716 20.2198 18.6743L17.8527 21.5629C13.7279 19.6118 10.3882 16.2721 8.43713 12.1473L11.3257 9.78605C12.1284 9.12983 12.4037 8.02831 12.0053 7.07327L9.66168 1.44852V1.44266Z" fill="currentColor"/>
                </svg>
                +856 20 5999 9428
            </div>
            <div class="text-white flex text-2xl gap-2">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 6.5625C3.23437 6.5625 2.8125 6.98437 2.8125 7.5V8.79492L12.9199 17.0918C14.1328 18.0879 15.873 18.0879 17.0859 17.0918L27.1875 8.79492V7.5C27.1875 6.98437 26.7656 6.5625 26.25 6.5625H3.75ZM2.8125 12.4336V22.5C2.8125 23.0156 3.23437 23.4375 3.75 23.4375H26.25C26.7656 23.4375 27.1875 23.0156 27.1875 22.5V12.4336L18.8672 19.2656C16.6172 21.1113 13.377 21.1113 11.1328 19.2656L2.8125 12.4336ZM0 7.5C0 5.43164 1.68164 3.75 3.75 3.75H26.25C28.3184 3.75 30 5.43164 30 7.5V22.5C30 24.5684 28.3184 26.25 26.25 26.25H3.75C1.68164 26.25 0 24.5684 0 22.5V7.5Z" fill="currentColor"/>
                </svg>
                info@skylinklaos.com
            </div>
            <div class="text-white flex text-2xl gap-2">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_406_284)">
                        <path d="M20.625 15C20.625 16.3008 20.5547 17.5547 20.4316 18.75H9.56836C9.43945 17.5547 9.375 16.3008 9.375 15C9.375 13.6992 9.44531 12.4453 9.56836 11.25H20.4316C20.5605 12.4453 20.625 13.6992 20.625 15ZM22.3125 11.25H29.5254C29.8359 12.4512 30 13.7051 30 15C30 16.2949 29.8359 17.5488 29.5254 18.75H22.3125C22.4355 17.543 22.5 16.2891 22.5 15C22.5 13.7109 22.4355 12.457 22.3125 11.25ZM28.9102 9.375H22.0723C21.4863 5.63086 20.3262 2.49609 18.832 0.492187C23.4199 1.70508 27.1523 5.0332 28.9043 9.375H28.9102ZM20.1738 9.375H9.82617C10.1836 7.24219 10.7344 5.35547 11.4082 3.82617C12.0234 2.44336 12.709 1.44141 13.3711 0.808594C14.0273 0.1875 14.5723 0 15 0C15.4277 0 15.9727 0.1875 16.6289 0.808594C17.291 1.44141 17.9766 2.44336 18.5918 3.82617C19.2715 5.34961 19.8164 7.23633 20.1738 9.375ZM7.92773 9.375H1.08984C2.84766 5.0332 6.57422 1.70508 11.168 0.492187C9.67383 2.49609 8.51367 5.63086 7.92773 9.375ZM0.474609 11.25H7.6875C7.56445 12.457 7.5 13.7109 7.5 15C7.5 16.2891 7.56445 17.543 7.6875 18.75H0.474609C0.164063 17.5488 0 16.2949 0 15C0 13.7051 0.164063 12.4512 0.474609 11.25ZM11.4082 26.168C10.7285 24.6445 10.1836 22.7578 9.82617 20.625H20.1738C19.8164 22.7578 19.2656 24.6445 18.5918 26.168C17.9766 27.5508 17.291 28.5527 16.6289 29.1855C15.9727 29.8125 15.4277 30 15 30C14.5723 30 14.0273 29.8125 13.3711 29.1914C12.709 28.5586 12.0234 27.5566 11.4082 26.1738V26.168ZM7.92773 20.625C8.51367 24.3691 9.67383 27.5039 11.168 29.5078C6.57422 28.2949 2.84766 24.9668 1.08984 20.625H7.92773ZM28.9102 20.625C27.1523 24.9668 23.4258 28.2949 18.8379 29.5078C20.332 27.5039 21.4863 24.3691 22.0781 20.625H28.9102Z" fill="currentColor"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_406_284">
                            <rect width="30" height="30" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                www.skylinklaos.com</div>
        </div>
        <div class="text-white w-fit mx-auto flex gap-6 py-14">
            <svg width="19" height="30" viewBox="0 0 19 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.6875 17.5371V30H11.4844V17.5371H16.5527L17.6074 11.8066H11.4844V9.7793C11.4844 6.75 12.6738 5.58984 15.7441 5.58984C16.6992 5.58984 17.4668 5.61328 17.9121 5.66016V0.462891C17.0742 0.234375 15.0234 0 13.8398 0C7.57617 0 4.6875 2.95898 4.6875 9.33984V11.8066H0.820312V17.5371H4.6875Z" fill="currentColor"/>
            </svg>
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.0067 7.30838C10.7492 7.30838 7.31507 10.7425 7.31507 15C7.31507 19.2575 10.7492 22.6916 15.0067 22.6916C19.2642 22.6916 22.6983 19.2575 22.6983 15C22.6983 10.7425 19.2642 7.30838 15.0067 7.30838ZM15.0067 20.0006C12.2554 20.0006 10.0061 17.758 10.0061 15C10.0061 12.242 12.2487 9.99944 15.0067 9.99944C17.7647 9.99944 20.0073 12.242 20.0073 15C20.0073 17.758 17.758 20.0006 15.0067 20.0006ZM24.807 6.99375C24.807 7.99119 24.0037 8.78779 23.0129 8.78779C22.0155 8.78779 21.2189 7.98449 21.2189 6.99375C21.2189 6.00301 22.0222 5.19971 23.0129 5.19971C24.0037 5.19971 24.807 6.00301 24.807 6.99375ZM29.9013 8.81457C29.7875 6.41136 29.2385 4.28261 27.478 2.52873C25.7241 0.774852 23.5953 0.225929 21.1921 0.105433C18.7153 -0.0351445 11.2914 -0.0351445 8.81457 0.105433C6.41805 0.219235 4.2893 0.768158 2.52873 2.52203C0.768158 4.27591 0.225929 6.40466 0.105433 8.80788C-0.0351445 11.2847 -0.0351445 18.7086 0.105433 21.1854C0.219235 23.5886 0.768158 25.7174 2.52873 27.4713C4.2893 29.2251 6.41136 29.7741 8.81457 29.8946C11.2914 30.0351 18.7153 30.0351 21.1921 29.8946C23.5953 29.7808 25.7241 29.2318 27.478 27.4713C29.2318 25.7174 29.7808 23.5886 29.9013 21.1854C30.0418 18.7086 30.0418 11.2914 29.9013 8.81457ZM26.7014 23.843C26.1793 25.1551 25.1685 26.1659 23.8497 26.6947C21.8749 27.478 17.189 27.2972 15.0067 27.2972C12.8244 27.2972 8.13176 27.4713 6.16367 26.6947C4.85161 26.1726 3.84079 25.1618 3.31195 23.843C2.52873 21.8682 2.70947 17.1823 2.70947 15C2.70947 12.8177 2.53542 8.12507 3.31195 6.15698C3.8341 4.84492 4.84492 3.8341 6.16367 3.30525C8.13846 2.52203 12.8244 2.70278 15.0067 2.70278C17.189 2.70278 21.8816 2.52873 23.8497 3.30525C25.1618 3.8274 26.1726 4.83822 26.7014 6.15698C27.4847 8.13176 27.3039 12.8177 27.3039 15C27.3039 17.1823 27.4847 21.8749 26.7014 23.843Z" fill="currentColor"/>
            </svg>
            <svg width="37" height="30" viewBox="0 0 37 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M33.1378 7.48016C33.1594 7.80476 33.1594 8.13657 33.1594 8.46117C33.1594 18.466 25.5422 30 11.6206 30C7.32869 30 3.34696 28.7593 0 26.6025C0.605915 26.6747 1.1974 26.6963 1.82496 26.6963C5.36667 26.6963 8.61986 25.4989 11.2239 23.4648C7.89853 23.3926 5.107 21.2142 4.14763 18.2135C4.61649 18.2856 5.08536 18.3289 5.57586 18.3289C6.25391 18.3289 6.93196 18.2352 7.56672 18.0692C4.09714 17.3696 1.50036 14.3183 1.50036 10.6396V10.5458C2.51022 11.1084 3.67877 11.4619 4.91945 11.5052C2.8781 10.1491 1.54364 7.8264 1.54364 5.20077C1.54364 3.79418 1.91873 2.50301 2.57514 1.37774C6.3044 5.97259 11.9019 8.97331 18.1847 9.29791C18.0692 8.73527 17.9971 8.151 17.9971 7.56672C17.9971 3.39745 21.3729 0 25.5638 0C27.7422 0 29.7115 0.916086 31.0964 2.38759C32.806 2.063 34.4506 1.42823 35.9005 0.562635C35.3378 2.32267 34.1404 3.79418 32.5751 4.73191C34.0971 4.566 35.5759 4.14763 36.932 3.56336C35.9005 5.06372 34.6093 6.39817 33.1378 7.48016Z" fill="currentColor"/>
            </svg>
        </div>
    </div>
</div>